	body{
		background-color: #fff;
	}
	::-webkit-scrollbar {
	display: none;
	}

/*navbar active color*/
	.nav-item:active,.nav-item:focus{
		color:#4f8afc;		
	}
	.nav-item:hover{
		background:rgba(0,0,0,0.1);
		color:#4f8afc;
		font-weight: bold;	
	}
	/*hover on nav-links*/
	.nav-links:hover{
		cursor: pointer;
	}
	/*hover on switch buttons*/
	.pointer_hover:hover{
		cursor:pointer;
	}